  <table mat-table [dataSource]="habitList" class="habit-list">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let habitList"> {{habitList.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let habitList"> {{habitList.description}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef> Priority </th>
        <td mat-cell *matCellDef="let habitList"> {{habitList.priority}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let habit" class="habit-list__buttons"> 
          <button mat-mini-fab class="habit-list__buttons--edit-button" color="primary" (click)="editHabit(habit)">
            <mat-icon>menu</mat-icon>
          </button> 
          <button mat-mini-fab class="habit-list__buttons--delete-button" color="warn" (click)="deleteHabit(habit.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="habitListHeaders"></tr>
      <tr mat-row *matRowDef="let row; columns: habitListHeaders;"></tr>

</table>
<button mat-mini-fab class="add-habit" (click)="createHabit(exampleHabit)">
  <mat-icon>playlist_add</mat-icon>
</button>

